@font-face {
    font-family: "futura-light";
    src: url("/ui/fonts/futura-thin.woff") format("woff")
    }

body {
    font-family: 'futura-light';
}
.container{
}
.jumbotron{
    background-color: white;
    border:1px solid black;
    margin:2px;
}